@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/* Header */
header a {
    font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.15rem;
}

/* Main Content */
main .main-heading {
    font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

main .main-description {
    font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.60rem;
}

/* Footer */
footer {
    font-family: "IBM Plex Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.95rem;
    text-align: center;
}